
#date{
    opacity: .6;
}

#h11{
    color: red; 
    text-align: left;
    font-family:sans-serif;
    line-height: 1.8;
    font-weight: 100;
    font-stretch: normal;
    /* font-variant: small-caps; */
    font-size:19px

}
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white; 
    font-size: 30px;
    /* border-radius: 5px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
 p{
     text-align: left;
     
 }
 .main{
    max-width: 100vw;
    height: 100%;
    border: 1px ;
    float: left;
    margin: auto;
    /* margin-left: 20%; */
    background-color: rgb(198, 216, 216);
    border-radius: 8px;
    margin-bottom: 50px;

 }
 .text{
    max-width: 768px;
    height: 100%;
    border: 1px ;
    float: left;
    margin: auto;
    margin-left: 25%;
    background-color: rgb(198, 216, 216);
    /* border-radius: 8px; */
    margin-bottom: 50px;


    color: rgb(46, 45, 45); 
    text-align: left;
    font-family:sans-serif;
    line-height: 1.8;
    font-weight: 100;
    font-stretch: normal;
    /* font-variant: small-caps; */
    font-size:19px

 }

 #back{
     text-align: left;
 }